<div class="uk-section in-offset-bottom-40 in-profit-trustpilot">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-1">
                <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="561d886b0000ff0005844fd6" data-style-height="28px" data-style-width="100%" data-theme="light">
                    <a href="https://uk.trustpilot.com/review/pepperstone.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
                </div>
            </div>
        </div>
    </div>        
</div>
