<header>
    <!-- header content begin -->    
    {{> component-ticker-prices }}
    <div class="uk-section uk-padding-remove-vertical">
        {{> module-navigation }}
    </div>
    <!-- header content end -->
</header>
{{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}}
{{> component-breadcrumb }}
{{/unlesspage}}
