.in-profit-ticker {
    box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.06);
    .in-icon-wrap {
        font-size: 10px;
        color: $base-default-color;
        margin-right: 6px;
        &.small {
            width: 16px;
            height: 16px;
        }
        &.up {
            background-color: #2ecc71;
        }
        &.down {
            background-color: #ee4f6f;
        }
    }
    .uk-slider-items li {
        color: #818181;
        font-size: $base-font-small;
        span {
            margin-left: 8px;
        }
    }
}

.in-profit-trustpilot {
    border-top: 1px solid #e3e3e3;
    &.uk-section {
        padding-top: 20px;
        padding-bottom: 16px;
    }
}

.in-profit-1 {
    .uk-width-expand\@m {
        padding-top: 3px;
    }
    .uk-child-width-1-2\@m p {
        margin-top: 15px;
    }
    .fas {
        color: $base-primary-color;
        font-size: 22px;
    }
}

.in-profit-2 {
    &.uk-background-contain {
        background-size: 960px 710px;
        background-position: 20% 30%;
    }
    .in-pricing-1 {
        .uk-card-default {
            background: linear-gradient(0deg, rgba(247,247,250,1) 0%, rgba(247,247,250,1) 45%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
        }
        .uk-card-body {
            padding-top: 0;
            padding-bottom: 20px;
            p, .uk-label {
                position: relative;
                z-index: 1;
            }
            .uk-label {
                margin-top: 4px;
            }
        }
        .uk-card-media-top {
            position: relative;
            span {
                position: absolute;
                width: 100%;
                height: 101%;
                background: linear-gradient(0deg, rgba(247,247,250,1) 0%, rgba(247,247,250,0.5998774509803921) 30%, rgba(247,247,250,0) 100%);
                top: 0;
            }
        }
        .uk-button-link {
            color: $base-primary-color;
        }
    }    
    .in-heading-extra {
        border-left: 7px solid $base-primary-color;
        padding-left: 18px;
        position: relative;
        top: -120px;
        margin-bottom: -120px;
        &:before {
            width: 100%;
            height: 300px;
            content: "";
            position: absolute;
            right: -200px;
        }
        &.in-card-decor-1:before {
            background: url("../img/in-profit-decor-1.svg") no-repeat;
            background-size: 100%;
        }
        &.in-card-decor-2:before {
            background: url("../img/in-profit-decor-2.svg") no-repeat;
            background-size: 100%
        }
        .uk-text-lead {
            margin-top: -5px;
        }
    }
    .in-profit-appcard {
        &.uk-card-body {
            .uk-child-width-1-2\@m div:nth-child(2) {
                padding-left: 0;
                margin-top: -40px;
                margin-bottom: -40px;
            }
        }
        background-color: #f7f6fc;
        border: $base-border-width-2 solid lighten($base-secondary-color, 55%);
        border-radius: $base-border-radius-2;
        hr {
            border-color: #d1d0dd;
            margin-top: 25px;
        }
        img {
            position: relative;
            right: -40px;
            height: 100%;
        }
    }
    .in-profit-tradestatus {
        h1 {
            font-size: 36px;
        }
        .uk-text-lead {
            font-size: 24px;
        }
    }
}
@media (max-width: 960px) {
    .in-profit-2 {
        .in-heading-extra {
            &:before {
                top: 39px;
                right: -180px;
            }
        }
    }
}
@media (max-width: 639px) {
    .in-profit-2 {
        .uk-card-body {
            .uk-label {
                display: none;
            }
        }
        .uk-button-link {
            margin-bottom: 25px;
        }
    }
}

.in-profit-3 {
    background-color:#01123c;
    h1.uk-heading-bullet {
        color: $base-primary-color;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-profit-3 {
        &.uk-background-contain {
            background-size: auto 80%;
        }
    }
}
@media (max-width: 639px) {
    .in-profit-3 {
        &.uk-background-contain {
            background-size: auto 40%;
        }
    }
}

.in-profit-4 {
    .in-profit-stockprice {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: $base-font-small;
        .uk-card-default {
            background-color: $base-default-color;
            box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.15);
        }
        .uk-card-body {
            padding: 18px 20px;
        }
        i {
            margin-right: 6px;
        }
        .up {
            color: #2ecc71;
        }
        .down {
            color: #ee4f6f;
        }
    }
}

.in-profit-5 {
    .in-pricing-1 {    
        .uk-card-header {
            h3 {
                margin-top: 15px;
            }
            .uk-card-badge {
                margin: 0;
            }
            i {
                color: $base-default-color;
                &.circle {
                    background-color: $base-primary-color;
                }
            }
        }
    }
    .uk-card-default {
        background: url("../img/in-profit-decor-3.svg") no-repeat;
        background-size: 400px 296px;
        background-position: -80px -120px;
    }
}

.in-profit-6 {
    .uk-child-width-1-3\@m {
        .uk-flex {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    h1.uk-text-primary {
        border: $base-border-width solid $base-primary-color;
        border-radius: $base-border-radius-2;
        padding: 10px 18px;
    }
}

.in-profit-7 {
    &.uk-background-contain {
        background-size: 960px 710px;
        background-position: 20% 35%;
    }
    div {
        article {
            border-bottom: $base-border-width solid $base-border-color;
            padding-top: 18px;
            padding-bottom: 20px;
            h5 a {
                color: $base-heading-color;
            }
        }
        article:last-child {
            border-bottom: 0;
        }
    }
}

.in-profit-8 {
    border-top: 1px solid #e3e3e3;
    .in-profit-award {
        padding: 18px 20px;
        position: relative;
        h4 {
            margin-top: 16px;
            margin-bottom: -16px;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 7px;
            content: url("../img/in-award-left.svg");
        }
        &:after {
            position: absolute;
            top: 0;
            right: 7px;
            content: url("../img/in-award-right.svg");
        }
    }
}
@media (max-width: 960px) {
    .in-profit-8 {
        &.uk-background-contain {
            background-size: auto 80%;
        }
    }
}

.in-profit-9 {
    .uk-width-expand\@m {
        padding-top: 7px;
    }
    .uk-child-width-1-6\@m {
        margin-top: 15px;
        margin-bottom: 10px;
        .in-icon-wrap {
            background-color: $base-default-color;
        }
    }
    .fas, .fab {
        color: $base-primary-color;
        font-size: 24px;
    }
}

.in-profit-10 {
    .uk-container {
        margin-bottom: -70px;
        padding-bottom: 75px;
    }
    .uk-background-contain {
        background-size: 498px 314px;
    }
}
@media (max-width: 639px) {
    .in-profit-10 {
        .uk-container {
            padding-bottom: 360px;
        }
    }
}

.in-profit-11 {
    background-color:#01123c;
    &.uk-section-secondary:not(.uk-preserve-color) .uk-label {
        background-color: $base-primary-color;
        color:$base-default-color;
    }
    .uk-card-primary {
        background-color: rgba(139,178,217,.4);
        backdrop-filter: blur(4px);
        .uk-button-primary {
            background-color: $base-primary-color;
            color:$base-default-color;
            &:hover {
                background-color: darken($base-primary-color, 5%);
                color:$base-default-color;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-profit-11 {
        &.uk-background-contain {
            background-size: auto 80%;
        }
    }
}
@media (max-width: 639px) {
    .in-profit-11 {
        &.uk-background-contain {
            background-size: auto 60%;
        }
    }
}

.in-profit-12 {
    .uk-card-default {
        background-color: $base-default-color;
        margin-bottom: 10px;
        .uk-card-body {
            padding: 18px 18px 10px 18px;
        }
    }
    .uk-table td {
        font-size: 14px;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-profit-12 {
        .uk-child-width-1-2\@s div:nth-child(1) p:after,
        .uk-child-width-1-2\@s div:nth-child(2) p:after {
            border-bottom: $base-border-width solid $base-border-color;
            content: "";
            display: block;
            position: relative;
            top: 16px;
        }
    }
}
@media (max-width: 639px) {
    .in-profit-12 {
        .uk-table {
            th,
            .uk-label {
                font-size: $base-font-small;
            }
        }
        .in-pairname {
            display: none;
        }
        .uk-button-default.uk-margin-small-left {
            margin-top: 10px;
        }
    }
}

.in-profit-13 {
    .in-pricing-1 {
        .uk-card-default {
            background: url("../img/in-profit-decor-3.svg") no-repeat;
            background-size: 400px 296px;
            background-position: -80px -120px;
        }
        .uk-background-contain {
            background-size: 217px 241px;
        }
        .uk-card-header {
            h3 {
                margin-top: 15px;
            }
        }
    }
    .in-icon-wrap {
        color: $base-primary-color;
    }
    .uk-width-5-6\@m {
        p {
            top: 5px;
            position: relative;
        }
    }
}
@media (max-width: 960px) {
    .in-profit-13 {
        .in-pricing-1 {
            .uk-background-contain {
                background-size: auto 50%;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    .in-profit-14 {
        &.uk-background-contain {
            background-size: auto 60%;
        }
    }
}
@media (max-width: 639px) {
    .in-profit-14 {
        &.uk-background-contain {
            background-size: auto 35%;
        }
    }
}

.in-profit-15 {
    .in-icon-wrap {
        background-color: $base-primary-color;
        color: $base-default-color;
        position: relative;
        &.large {
            font-size: 32px;
        }
        &:after {
            position: absolute;
            top: 22px;
            right: -220px;
            content: url("../img/in-profit-dotted.svg");
        }
    }
    .uk-child-width-1-3\@m {
        div:last-child {
            .in-icon-wrap:after {
                content: "";
            }
        }
    }
}
@media (max-width: 960px) {
    .in-profit-15 {
        .in-icon-wrap {
            &:after {
                content: "";
            }
        }
    }
}

.in-profit-16 {
    .in-client-logo-3 {
        margin-top: 5px;
        .uk-tile {
            padding: 10px 25px;
        }
    }
    .in-create-account {
        padding: 0 34px 30px 34px;
        border: $base-border-width solid $base-primary-color;
        border-radius: $base-border-radius-2;
        .uk-label {
            background-color: $base-primary-color;
            margin-top: -18px;
        }
    }
    .uk-width-auto\@m h4 {
        margin-top: 8px;
    }
}
@media (max-width: 639px) {
    .in-profit-16 {
        .in-create-account {
            form {
                margin-top: 10px;
            }
        }
    }
}

.in-profit-17 {
    border-top: 1px solid #e3e3e3;
    &.uk-background-contain {
        background-size: 960px 710px;
        background-position: 20% 35%;
    }
}
@media (max-width: 960px) {
    .in-profit-17 {
        margin-bottom: -70px;
    }
}

.in-breadcrumb {
    .uk-breadcrumb {
        padding-top: 20px;
        li:first-child a {
            position: relative;
            top: 0px;
        }
    }
}