<!-- module logo begin -->
<a class="uk-logo" href="{{root}}index.html">
    <img class="in-offset-top-10" src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-logo-1.svg" alt="logo" width="130" height="36" data-uk-img>
</a>
<!-- module logo begin -->
