<div class="uk-container in-slideshow-feature uk-visible@m">
    <div class="uk-grid uk-flex uk-flex-center">
        <div class="uk-width-3-4@m">
            <div class="uk-child-width-1-4" data-uk-grid>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <i class="fas fa-drafting-compass in-icon-wrap small circle uk-box-shadow-small"></i>
                    </div>
                    <div>
                        <p class="uk-text-bold uk-margin-remove">Enhanced Tools</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <i class="fas fa-book in-icon-wrap small circle uk-box-shadow-small"></i>
                    </div>
                    <div>
                        <p class="uk-text-bold uk-margin-remove">Trading Guides</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <i class="fas fa-bolt in-icon-wrap small circle uk-box-shadow-small"></i>
                    </div>
                    <div>
                        <p class="uk-text-bold uk-margin-remove">Fast execution</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <i class="fas fa-percentage in-icon-wrap small circle uk-box-shadow-small"></i>
                    </div>
                    <div>
                        <p class="uk-text-bold uk-margin-remove">0% Commission</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
